#Uprawnienia dla osob
add_principal identifier.steam:hex group.best
add_principal identifier.steam:hex group.superadmin


setr vmenu_noclip_toggle_key 56

#Permisje
add_principal group.supportt group.user
add_principal group.support group.supportt
add_principal group.moderator group.support
add_principal group.admin group.moderator
add_principal group.superadmin group.admin
add_principal group.best group.superadmin

add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow

add_ace resource.ox_lib command.add_principal allow
add_ace resource.ox_lib command.remove_principal allow

add_ace resource.uptime command.sets allow

add_ace group.trialsupport easyadmin.spectate allow


add_ace group.support easyadmin.spectate allow
add_ace group.support easyadmin.unban allow
add_ace group.support easyadmin.freeze allow
add_ace group.support easyadmin.kick allow
add_ace group.support easyadmin.ban allow
add_ace group.support easyadmin.noclip allow

add_ace group.moderator easyadmin.spectate allow
add_ace group.moderator easyadmin.unban allow
add_ace group.moderator easyadmin.freeze allow
add_ace group.moderator easyadmin.kick allow
add_ace group.moderator easyadmin.ban allow
add_ace group.moderator easyadmin.noclip allow
add_ace group.moderator easyadmin.teleport.player allow
add_ace group.moderator easyadmin.slap allow

add_ace group.admin easyadmin.spectate allow
add_ace group.admin easyadmin.unban allow
add_ace group.admin easyadmin.freeze allow
add_ace group.admin easyadmin.kick allow
add_ace group.admin easyadmin.ban allow
add_ace group.admin easyadmin.noclip allow
add_ace group.admin easyadmin.teleport.player allow
add_ace group.admin easyadmin.slap allow

add_ace group.superadmin easyadmin.spectate allow
add_ace group.superadmin easyadmin.unban allow
add_ace group.superadmin easyadmin.freeze allow
add_ace group.superadmin easyadmin.kick allow
add_ace group.superadmin easyadmin.ban allow
add_ace group.superadmin easyadmin.noclip allow
add_ace group.superadmin easyadmin.teleport.player allow
add_ace group.superadmin easyadmin.slap allow

add_ace group.best easyadmin.spectate allow
add_ace group.best easyadmin.unban allow
add_ace group.best easyadmin.freeze allow
add_ace group.best easyadmin.kick allow
add_ace group.best easyadmin.ban allow
add_ace group.best easyadmin.noclip allow
add_ace group.best easyadmin.teleport.player allow
add_ace group.best easyadmin.slap allow
add_ace group.best command allow

setr ea_LanguageName "pl"
setr ea_MenuButton "212" # PAGEUP
set ea_enableCallmoderatorCommand "false"
set ea_enableReportCommand "false"