endpoint_add_tcp "0.0.0.0:30130"
endpoint_add_udp "0.0.0.0:30130"
rcon_password 1234
# Main Data
onesync_enabled 1
onesync_population true
exec resources.cfg
exec permissions.cfg
exec inventory.cfg
sets sv_projectName "Many Pack 3.0"
sets sv_projectDesc "Dzięki za zakup :3"
sets banner_detail "link do banneru" 
sets banner_connecting "link do banneru" 
sv_hostname "Many Pack 3.0"
set steam_webApiKey 
set es_enableCustomData 1
set mysql_connection_string ""
set mysql_log_level 11

sv_licenseKey ""
# rcon_password "1234"
set ea_moderationNotification ""
sv_maxclients 64
sets locale "pl-PL" 
set gametype "Roleplay"
set mapname "Los Santos"
sets tags "Polski, Dev"
sets discord ""
load_server_icon logo.png
sv_endpointprivacy true
sv_scriptHookAllowed 0
set sv_enforceGameBuild 2612
###############
#    VOICE    #
###############
setr voice_useSendingRangeOnly true
setr voice_useNativeAudio true
setr voice_enableUi 0
setr voice_enableProximityCycle 1
setr voice_defaultCycle F5
setr voice_enableRadios 1
setr voice_enablePhones 1
setr voice_enableSubmix 1
setr voice_enableRadioAnim 1
setr voice_defaultRadio M

#################
#    TELEFON    #
#################
set SCREENSHOT_BASIC_TOKEN 